<h3>Custom Progress</h3>
<div class="container">
	<mat-progress-bar color="primary" [value]="value">
	</mat-progress-bar>
	<hr>

	<button style="margin-left:10px;" mat-raised-button (click)="addItem()">Add Item</button><br>

	<form [formGroup]="checkBox">
		<div style="margin-top:10px;" formArrayName="chkArr">
			<div *ngFor="let ch of controls;let i = index" [formGroupName]="i">
				<mat-checkbox formControlName="chk" (change)="onChange()" color="warn" style="margin-left:20px;">check me!
				</mat-checkbox>  <span (click)="removeItem(i)" style="margin-left:20px;color:red;cursor:pointer">X</span>
			</div>
		</div>
	</form>
</div>